.navbar-brand {
  float:left;
  background-color: salmon !important; 
  color: salmon;
  font-family: 'Solway', 'serif' !important;
  font-size: 20px;
  font-style: bold;
  /* padding: 14px 0; */
}
.navbar-nav {
  float:right;
}
nav {
  padding: 0px !important;
}
header {
  background-color: salmon;
  width: 100%;
  text-align: right;
  font-family: 'Solway', 'serif';
}
